@model InvoiceListRootViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Created Date</th>
            <th scope="col">Currency</th>
            <th scope="col">Net Amount</th>
            <th scope="col">Gross Amount</th>
            <th scope="col">Vat Amount</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Data.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@Model.Data[i].Attributes.DateCreated</td>
                <td>@Model.Data[i].Attributes.Currency</td>
                <td>@Model.Data[i].Attributes.NetAmount</td>
                <td>@Model.Data[i].Attributes.GrossAmount</td>
                <td>@Model.Data[i].Attributes.VatAmount</td>
                <td>@Model.Data[i].Attributes.InvoiceComments</td>
            </tr>
        }

    </tbody>
</table>